/*=== MEDIA QUERY ===*/
@mixin mobile-xs{
  @media(max-width:400px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:480px){
    @content;
  }
}
@mixin tablet{
  @media(max-width:768px){
    @content;
  }
}
@mixin desktop{
  @media(max-width:992px){
    @content;
  }
}
@mixin large-desktop{
  @media(max-width:1200px){
    @content;
  }
}


// 
@media screen and (max-width: 991px){
  body{

    .section{
      padding: 50px 0;
    }

    .responsive-row-gap-normal{
      row-gap: 15px;
    }


      #navbarmain{
        padding: 0px;
      }

      .navbar{
        margin-top: 0px;
        background-color: $site-new-grey;
        .navbar-brand{
          margin-top: 0px;
          & > img{
            max-width: 200px;
          }
        }
      }

      .appoinment-content{
        .emergency{
          padding: 5px 10px;
          right: 0px;
          bottom: 0px;
  
            h2{
              font-size: 1rem;

              &.phone{
                font-size: 1.5rem;
              }
            }
        }
      }

      .banner{
        .block{
          h1{
            font-size: 28px;
            line-height: 40px;
          }
        }
      }

      .features{
        .feature-icon{
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0px !important;
        }
        .primary-info{
          display: inline-block;
          vertical-align: middle;
          max-width: 80%;
          padding-left: 10px;

          & + *{
            margin-top: 15px;
          }

            h4{
              font-size: 1rem;
              margin-bottom: 0px !important;
              margin-top: -5px;
            }

        }
      }

      .clients-logo{
        .slick-slide{
          img{
            display: inline-block;
          }
        }
      }



      .testimonial{
        padding: 0px !important;

        .section-title{
          margin-bottom: 0px;
        }

        .slick-dots{
          left: 0px;
          text-align: center;

          // li{
          //   button{
          //     &:before{
          //       opacity: 1;
          //       color: white;
          //     }
          //   }
          //   &.slick-active{
          //     button{
          //       &:before{
          //         color: $secondary-color;
          //       }
          //     }
          //   }
          // }
        }
        & > span{
          width: 100%;
          position: static;
          margin-bottom: 15px;
          display: block;
          &.set-back{
            background-image: none !important;
            & > img{
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
        .testimonial-block{
          p{
            background-color: transparent;
          }
        }
      }

      // .cta-page
      .cta-page{
        background-position: right center;
      }


    }

    
  }
  
// 