$light: #fff;
$primary-color: #1b7894;
$secondary-color:#fc5130;
$base-color:#6F8BA4;
$title-color:#1b7894;
$black:#222;
$gray:#eff0f3;
$secondary-bg:#f4f9fc;
$border-color:#fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font:'Roboto', sans-serif;
$site-new-grey: #d9d9d9;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);