.bytebuilders {
    padding-top: 80px;
    // basic
    .flat-corner-global{
        border-radius: 0px !important;
    }
    .section-bg-third-color{
        background-color: var(--site-third-color);
    }
    .section-bg-secondary{
        background-color: var(--site-secondary-color);
    }
    .default-inset-padding{
        padding: 25px;
    }
    .d-inline-block{
        display: inline-block;
    }
    .d-grid-center{
        display: grid;
        align-items: center;
    }
    .flex-center{
        align-items: center;
    }
    .full-w-img{
        width: 100%;
        height: auto;
    }
    .flex-row{
        display: flex;
        flex-wrap: wrap;

        

        & > .flex-col{
            flex-grow: 1;

            &.w50-w50{
                width: 50%;
            }
        }
    }
    .border-left-bottom-type-1{
        border-radius: 45px 0 0 45px;
    }
    .box-padding-default{
        padding: 15px;
    }
    .box-padding-medium{
        padding: 25px;
    }
    .box-padding-large{
        padding: 55px;
    }
    .site-bg-dark{
        background-color: var(--site-dark-color);
    }
    .site-bg-dark-lighter{
        background-color: var(--site-dark-color-light);
    }
    .site-bg-primary{
        background-color: var(--site-primary-color);
    }
    .site-bg-secondary{
        background-color: var(--site-secondary-color);
    }
    .site-bg-white{
        background-color: white;
    }
    .site-bg-grey{
        background-color: var(--site-light-grey-type-two);
    }
    .site-bg-grey-darker{
        background-color: var(--site-light-grey-type-three);
    }
    .site-bg-white{
        background-color: white;
    }
    .row-gap-default{
        row-gap: $grid-gutter-width;
    }
    .row-gap-lg{
        row-gap: 3rem;
    }

    .btn{
        &.site-btn{
            border-radius: 50px;
            padding: 5px 25px;

            &.social-sqare{
                padding: 0px;
                width: 37px;
                height: 37px;
                text-align: center;
            }

            &.iconic{
                &.icon-left{
                    i{
                        margin-right: 10px;
                    }
                }
                i{
                    display: inline-block;
                    vertical-align: middle;
                }

                span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        &.flat-corner{
            border-radius: 0px;
        }
    }

    .section-pad-default{
        padding: 50px 0;
    }
    .section-pad-large{
        padding: 120px 0;
    }

    .no-bottom-pad{
        padding-bottom: 0px !important;
    }

    .elm{
        &.element-gap-normal{
            margin-bottom: 15px;
        }

        &.element-gap-large{
            margin-bottom: 45px;
        }

        &:last-child{
            margin-bottom: 0px;
        }
    }


    // typography
    h1, h2, h3, h4, h5, h6{
        font-weight: var(--site-primary-font-light);
    }
    h1, h2{
        margin-bottom: 2rem;
    }
    h3, h4, h5, h6{
        margin-bottom: 1rem;
    }
    .heading-gap-extra{
        margin-bottom: 3rem;
    }
    .heading-gap-extra-sm{
        margin-bottom: 1.5rem;
    }
    .text-light{
        font-weight: var(--site-primary-font-light);

        &.text-primary{
            color: var(--site-primary-color) !important;
        }
    }
    h6{
        letter-spacing: 2.5px;
    }


    // start-page-banner-module
    .start-page-banner-module{
        min-height: calc(100vh - 80px);
        position: relative;
        font-weight: var(--site-primary-font-light);
        padding: 50px 0;
        display: flex;
        align-items: center;

        h1, h2, .btn, p, li{
            font-weight: var(--site-primary-font-light);
        }
        

        .img-holder{
            height: 100%;
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;

            &:before{
                content: ' ';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                background-color: rgba($color: #000000, $alpha: 0.3);
            }

            &.set-back{
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }


    // iconic-text-element-module
    .iconic-text-element-module{

        &.type-two{
            text-align: center;
            i{
                margin-right: 0px;
                margin-bottom: 15px;
                

                &.circular{
                    width: 120px;
                    height: 120px;
                    line-height: 120px;
                    font-size: 45px;
                }
                

                &:last-child{
                    margin-bottom: 0px;
                }
            }

            span{
                display: block;
            }
        }

        i{
            font-size: 34px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;

            &.circular{
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                border-radius: 100%;
                font-size: 20px;
            }
        }

        span{
            display: inline-block;
            vertical-align: middle;
        }
    }


    // client-speaks-module
    .global-owl-carousel{
        &.absolute-control{
            .owl-dots{
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 10px;
                z-index: 1;
            }
        }
        .owl-dots{
            margin-top: 25px;
            text-align: center;

            button{
                display: inline-block;
                border: none;
                padding: 0px;
                width: 40px;
                height: 3px;
                margin: 0 10px;
                background-color: var(--site-primary-color);
                &.active{
                    background-color: var(--site-dark-color);
                }
            }
        }
    }
    .client-speaks-module{
        .client-dp{
            margin-bottom: 25px;
            img{
                display: inline-block;
                border: 2px solid var(--site-primary-color);
                border-radius: 100%;
                width: 100px;
                padding: 5px;
            }
        }

        .client-says{
            max-width: 60%;
            margin: 0 auto;
            p{
                font-weight: var(--site-primary-font-light);
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1.5px;

                &:before, &:after{
                    font-family: 'FontAwesome';
                    font-size: 15px;
                    color: var(--site-primary-color);
                    display: inline-block;
                }

                &:before{
                    content: "\f10d";
                    padding-right: 15px;
                }
                &:after{
                    content: "\f10e";
                    padding-left: 15px;
                }
            }
        }
    }

    // box-content-module
    .box-content-module{
        .normal-text-element-module{
            padding: 25px;
            @include transition(all 0.3s ease 0s);
        }

        .my-col{
            &:not(.no-hover):hover{
                .normal-text-element-module{
                    background-color: white;
                    color: var(--site-dark-color);

                    .text-primary{
                        color: var(--site-dark-color) !important;
                    }
                }
            }
        }
    }

    // bottom-attached-carousel-module
    .bottom-attached-carousel-module{
        .item{
            cursor: pointer;
           .overlay{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba($color: #000000, $alpha: 0.4);
                text-align: center;
                display: grid;
                align-items: center;

                i{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    color: white;
                    text-align: center;
                    line-height: 40px;
                    background-color: var(--site-primary-color);
                    font-size: 18px;
                    border-radius: 5px;
                    margin: 0 auto;
                    cursor: pointer;
                    @include transition(all 0.3s ease 0s);
                    opacity: 0;
                }
            }

            &:hover{
                .overlay{
                    i{
                        opacity: 1;
                    }
                }
            }
        }
    }

    // covered-img-content-module
    .covered-img-content-module{
        .the-covered-img{
            &.set-back{
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                    visibility: hidden;
                }
            }
        }
    }

    // site-form
    .site-form{
        .form-control, .form-select{
            font-size: 14px;
        }
    }

    // map-iframe
    .map-iframe{
        width: 100%;
    }

    // map-text
    .map-text{
        line-height: 30px;
        font-size: 14px;

        i{
            padding-right: 5px;
        }
    }
    

    // the-covered-map
    .the-covered-map{
        iframe{
            width: 100%;
            height: 500px;
            display: block;
        }
    }

    .covered-map-module{
        position: relative;
    }

    .the-map-address{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0px;
        top: 0px;
    }


}