.bytebuilders{

    footer{
        &.footer{
            padding: 15px 0;
            border-top: 1px solid var(--site-primary-color);
        }
    }

    .footer-social-link{
        a{
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            height: 35px;
            line-height: 35px;
            background-color: var(--site-primary-color);
            color: white;
            border-radius: 100%;
            text-align: center;
            margin: 0 5px;

            &:last-child{
                margin-right: 0px;
            }
            &:first-child{
                margin-left: 0px;
            }
        }
    }
	
	
}