:root{

    // colors
    --site-primary-color: #fc5130;
    --site-dark-color: #1d1d1b;
    --site-dark-color-light: #252524;
    --site-light-grey: #fcfcfc;
    --site-light-grey-type-two: #ededec;
    --site-light-grey-type-three: #d9d9d8;
    --site-secondary-color: #1b7894;
    --site-third-color: #d9d9d9;

    // fonts
    --site-primary-font: 'Poppins';
    --site-primary-font-thin: 100;
    --site-primary-font-ExtraBold: bold;
    --site-primary-font-black: 900;
    --site-primary-font-light: 300;
    --site-primary-font-bold: bold;
    --site-primary-font-medium: 500;
    --site-primary-font-regular: normal;
    --site-primary-font-ExtraLight: 200;
}



// beakpoints
  $xs: 0;
  $sm: 576px;
  $md: 768px;
  $lg: 1199px;
  $xl: 1200px;
  $xxl: 1400px;

